img {
  width: 400px;
  /* latter increase it */
}
.container {
  border: 2px solid black;
  width: 400px;
  margin-top: 2rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  /* margin-left: 2rem; */
}
.data {
  margin: 15px;
}
.skills {
  display: inline-block;
  margin-right: 20px;
  margin-left: 15px;
  margin-bottom: 5px;
  padding: 5px 20px;
  border-radius: 10px;
}
